<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()">
    <i class="fa fa-google"></i> Connect Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <nav class="navbar navbar-light bg-light">

      
      <a class="navbar-brand" href="#">
        <img [src]="user.photoURL" width="30" height="30" class="d-inline-block align-top" alt="">{{ user.displayName }} </a>
      <h3>KILI'sLIST</h3>
      <button (click)="auth.signOut()">Logout</button>
    </nav>
    <app-show-items></app-show-items>

  </div>
</ng-template>