






<div class="card bg-light mb-8" style="max-width: 25rem;">
    <div class="card-header">
        Create a new entry
    </div>
    <div class="card-body">
      <input  placeholder="new item name" [(ngModel)]="input_item">
      <br>
      <input placeholder="desired quantity" [(ngModel)]="input_number">
      <br>
      <button type="button" class="btn btn-secondary" (click)="add()">add item</button>
    </div>
</div>





<div class="container">
  <!--<div class="row"> -->
    <div class="col-8">
      <div *ngFor="let item of $items | async">
        <div class="card bg-light mb-3" style="max-width: 25rem;">
            <div class="card-header">
                {{item.item}}  
                <button type="text" class="btn btn-danger toSeRight" (click)="deleteItem(item)">X</button>
            </div>
            <div class="card-body">Quantity: {{item.number}}</div>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="new item name" #name>
            <input type="text" class="form-control" placeholder="new quantity" #num>
            <button type="button" class="btn btn-success" (click)="updateItem(item, name.value, num.value)">update item</button>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>